.lngMenu {
	width: fit-content;
	position: relative;
}

.lngMenu button {
	appearance: button;
	-webkit-appearance: button;

	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05);
	color: #4700b3;
	border: solid 2px var(--mainColor);
	border-radius: 10px;
	padding: 5.5px 5.5px;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	text-align: left;
	transition: background-color 0.2s;
	background-color: transparent;
}

.lngMenu button:hover {
	background-color: var(--mainColor);
}

.lngFlag {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	overflow: hidden;
}

.lngMenu ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: #fafafa;
	top: 60px;
}

.lngMenu li {
	color: #4700b3;
	display: block;
	cursor: pointer;
	transition: background-color 0.2s;
}

.lngMenu li:hover {
	background-color: rgb(221, 221, 221);
}

.lngMenu ul li {
	list-style: none;
	margin: 0;
	padding: 7.5px;
}
