.navContainer {
	width: 95vw;
	max-width: 1920px;
	height: 70px;
	position: fixed;
	top: calc(0% + 5px);
	z-index: 100;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*------------------------------------------------------------*/

.nav {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	/*border-radius: 10px 30px 10px 30px;*/
	transition:
		background-color 0.2s,
		box-shadow 1s;
	-webkit-transition:
		background-color 0.2s,
		box-shadow 1s;
	-moz-transition:
		background-color 0.2s,
		box-shadow 1s;
	border-radius: var(--cornersRadius);
}

.navshadow {
	background-color: rgba(255, 255, 255, 0.83);
	box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 5%);
	backdrop-filter: blur(10px) saturate(200%);
	-webkit-backdrop-filter: blur(10px) saturate(200%);
	-moz-backdrop-filter: blur(10px) saturate(200%);
	-ms-backdrop-filter: blur(10px) saturate(200%);
	-khtml-backdrop-filter: blur(10px) saturate(200%);
}

/*------------------------------------------------------------*/

.anchorlogoNav {
	margin-right: 20px;
	margin-left: 20px;
}

.logoNav {
	height: 50px;
	margin: 0%;
	padding: 0%;
	transition: all 0.2s;
}

.logoNav:hover {
	transform: scale(110%);
}

/*------------------------------------------------------------*/

.icon {
	display: none;
}

.nav-icon-5 {
	width: 35px;
	height: 30px;
	margin: 10px 45px;
	position: relative;
	cursor: pointer;
}
.nav-icon-5 span {
	background-color: var(--mainColor);
	position: absolute;
	border-radius: 2px;
	transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
	width: 100%;
	height: 4px;
	transition-duration: 500ms;
}
.nav-icon-5 span:nth-child(1) {
	top: 0px;
	left: 0px;
}
.nav-icon-5 span:nth-child(2) {
	top: 13px;
	left: 0px;
	opacity: 1;
}
.nav-icon-5 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
}

.nav-icon-5.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 13px;
}
.nav-icon-5.open span:nth-child(2) {
	opacity: 0;
}
.nav-icon-5.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 13px;
}

/*------------------------------------------------------------*/

.navUl {
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

/*------------------------------------------------------------*/

.progress-bar {
	position: absolute;
	top: -4px;
	left: 15px;
	height: 2px;
	width: calc(100% - 30px);
	transform-origin: 0%;
	background-color: var(--mainColor);
}

/*------------------------------------------------------------*/

.responsiveMenu {
	display: none;
}

@media screen and (max-width: 815px) {
	.nav-icon-5 {
		display: inline-block;
	}

	.navContainer {
		height: 100px;
		transition: all 0.2s;
	}

	.responsiveMenu {
		display: none;
		list-style: none;
		flex-direction: column;
		gap: 1.5rem;
		height: fit-content;
		align-items: center;
		padding: 1rem 0px 2.5rem;
		position: absolute;
		width: 100%;
		top: 100px;
		margin: 0px;
		right: 0px;
		z-index: 100;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 5%);
		backdrop-filter: blur(10px) saturate(200%);
		margin-top: 5px;
		border-radius: var(--cornersRadius);
	}

	.responsiveOpened {
		display: flex;
	}

	.nav {
		height: 100px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
	}

	.navUl {
		display: none;
	}

	.navAnchor {
		font-size: 30px;
	}

	.navAnchorDropdown {
		font-size: 30px;
	}

	.logoNav2 {
		height: 100%;
		width: 50px;
		margin: 0;
		transition: all 0.2s;
	}

	.anchorlogoNav {
		margin-right: 0px;
	}
}
