.navContainer {
	width: 95vw;
	max-width: 1920px;
	height: 70px;
	position: fixed;
	top: calc(0% + 5px);
	z-index: 100;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.nav {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	/*border-radius: 10px 30px 10px 30px;*/
	transition:
		background-color 0.2s,
		box-shadow 1s;
	-webkit-transition:
		background-color 0.2s,
		box-shadow 1s;
	-moz-transition:
		background-color 0.2s,
		box-shadow 1s;
	border-radius: var(--cornersRadius);
}

.navshadow {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 5%);
	backdrop-filter: blur(10px) saturate(200%);
	-webkit-backdrop-filter: blur(10px) saturate(200%);
	-moz-backdrop-filter: blur(10px) saturate(200%);
	-ms-backdrop-filter: blur(10px) saturate(200%);
	-khtml-backdrop-filter: blur(10px) saturate(200%);
}

.navUl {
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.navLi {
	position: relative;
	transition: all 0.3s;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navAnchor {
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	color: var(--mainColor);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.2s;
}
.navAnchor:hover {
	color: rgb(255, 103, 207);
}
.navAnchorDropdown {
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	color: var(--mainColor);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.2s;
	display: flex;
	align-items: center;
	gap: 5px;
}

.navDropdown {
	display: none;
	position: absolute;
	top: 100%;
	height: fit-content;
	min-width: fit-content;
	background-color: var(--secondaryColor);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	z-index: 99999;
	border-radius: var(--cornersRadius);
	flex-direction: column;
	overflow: hidden;
}

.dropdownShadow {
	background-color: #fff;
}

.navDropdownLink {
	height: 100%;
	min-width: fit-content;
	white-space: nowrap;
	padding: 1rem;
	margin: 0px;
}

.navDropdownLink:hover {
	background-color: rgb(0, 0, 0, 5%);
}

.navLi:hover .navDropdown {
	display: flex;
}

.navLi svg {
	transition: 0.3s ease-in-out;
}

.navLiArrow.navLi:hover svg {
	transform: rotate(180deg);
}

.navAnchorSec {
	display: block;
}

.navLiArrow:hover .navAnchorSec {
	display: block;
}

.active {
	font-weight: 700;
}

.active.navAnchor::after {
	transform: scaleX(100%);
}

.anchorlogoNav {
	margin-right: 20px;
	margin-left: 20px;
}

.logoNav {
	height: 50px;
	margin: 0%;
	padding: 0%;
	transition: all 0.2s;
}

.logoNav:hover {
	transform: scale(110%);
}

.icon {
	display: none;
}

.progressBar {
	position: absolute;
	left: 15px;
	top: -4px;
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 30px);
	height: 2px;
	border: none;
	background: transparent;
	filter: opacity(70%);
}

.progressBar::-webkit-progress-bar {
	background: transparent;
}

.progressBar::-webkit-progress-value {
	background: var(--mainColor);
	background-attachment: fixed;
	transition: width 0.2s ease-in-out;
}

.progressBar::-moz-progress-bar {
	background: var(--mainColor);
	background-attachment: fixed;
}

.responsiveMenu {
	display: none;
}

@media screen and (max-width: 815px) {
	.navContainer {
		height: 100px;
		transition: all 0.2s;
	}

	.responsiveMenu {
		display: none;
		list-style: none;
		flex-direction: column;
		gap: 1.5rem;
		height: fit-content;
		align-items: center;
		padding: 1rem 0px 2.5rem;
		position: absolute;
		width: 100%;
		top: 100px;
		margin: 0px;
		right: 0px;
		z-index: 100;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 5%);
		backdrop-filter: blur(10px) saturate(200%);
		margin-top: 5px;
		border-radius: var(--cornersRadius);
	}

	.responsiveOpened {
		display: flex;
	}

	.responsivenavDropdown {
		display: none;
		width: 100%;
		top: 100%;
		z-index: 99999;
		flex-direction: column;
		margin-top: 10px;
		gap: 10px;
		padding: 20px;
		background-color: rgb(0, 0, 0, 10%);
	}
	.navDropdownLinkResponsive {
		white-space: nowrap;
		margin: 0px;
		text-decoration: none;
		color: var(--mainColor);
		font-size: 30px;
	}

	.responsivenavDropdownOpened {
		display: flex;
	}

	.navLiResponsive {
		flex-direction: column;
		width: 100%;
	}

	.responsiveArrow {
		transition: 0.3s;
	}

	.responsiveArrowinverted {
		transform: rotate(180deg);
	}

	.nav {
		height: 100px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		display: flex;
	}

	.navUl {
		display: none;
	}

	.navAnchor {
		font-size: 30px;
	}

	.navAnchorDropdown {
		font-size: 30px;
	}

	.logoNav2 {
		height: 100%;
		width: 50px;
		margin: 0;
		transition: all 0.2s;
	}

	.anchorlogoNav {
		margin-right: 0px;
	}

	.nav-icon-5 {
		display: initial;
		width: 35px;
		height: 30px;
		margin: 10px 45px;
		position: relative;
		cursor: pointer;
		display: inline-block;
	}
	.nav-icon-5 span {
		background-color: var(--mainColor);
		position: absolute;
		border-radius: 2px;
		transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
		width: 100%;
		height: 4px;
		transition-duration: 500ms;
	}
	.nav-icon-5 span:nth-child(1) {
		top: 0px;
		left: 0px;
	}
	.nav-icon-5 span:nth-child(2) {
		top: 13px;
		left: 0px;
		opacity: 1;
	}
	.nav-icon-5 span:nth-child(3) {
		bottom: 0px;
		left: 0px;
	}

	.nav-icon-5.open span:nth-child(1) {
		transform: rotate(45deg);
		top: 13px;
	}
	.nav-icon-5.open span:nth-child(2) {
		opacity: 0;
	}
	.nav-icon-5.open span:nth-child(3) {
		transform: rotate(-45deg);
		top: 13px;
	}
}
