/*---------------BOTH------------------*/

.navLi {
	position: relative;
	transition: all 0.3s;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navAnchor {
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	color: var(--mainColor);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.2s;
}

.navAnchor:hover {
	color: rgb(255, 103, 207);
}

.active {
	font-weight: 600;
}

/*--------------RESPONSIVE--------------*/
.navAnchorDropdown {
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	color: var(--mainColor);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.2s;
	display: flex;
	align-items: center;
	gap: 5px;
}
.navDropdown {
	display: none;
	position: absolute;
	top: 100%;
	height: fit-content;
	min-width: fit-content;
	background-color: #fff;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	z-index: 99999;
	border-radius: var(--cornersRadius);
	flex-direction: column;
	overflow: hidden;
}

.navDropdownLink {
	display: initial;
	height: 100%;
	min-width: fit-content;
	white-space: nowrap;
	padding: 1rem;
	margin: 0px;
}

.navDropdownLink:hover {
	background-color: rgb(0, 0, 0, 10%);
}

.navLi:hover .navDropdown {
	display: flex;
}

.navLi svg {
	transition: 0.3s ease-in-out;
}

.navLiArrow.navLi:hover svg {
	transform: rotate(180deg);
}

.navAnchorSec {
	display: block;
}

.navLiArrow:hover .navAnchorSec {
	display: block;
}

.active.navAnchor::after {
	transform: scaleX(100%);
}

@media screen and (max-width: 815px) {
	.responsivenavDropdown {
		display: none;
		width: 100%;
		top: 100%;
		z-index: 99999;
		flex-direction: column;
		margin-top: 10px;
		gap: 10px;
		padding: 20px;
		background-color: rgb(0, 0, 0, 10%);
	}
	.navDropdownLinkResponsive {
		white-space: nowrap;
		margin: 0px;
		text-decoration: none;
		color: var(--mainColor);
		font-size: 30px;
	}

	.responsivenavDropdownOpened {
		display: flex;
	}

	.navLiResponsive {
		flex-direction: column;
		width: 100%;
	}

	.responsiveArrow {
		transition: 0.3s;
	}

	.responsiveArrowinverted {
		transform: rotate(180deg);
	}
}
