.bepixelbrandversionContainer {
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	width: 100%;
	position: relative;
}
.bepixelbrandversionContainer img {
	width: 50%;
}

@media screen and (max-width: 815px) {
	.bepixelbrandversionContainer {
		flex-direction: column;
	}
	.bepixelbrandversionContainer img {
		width: 100%;
	}
}
