.headerComponentContainer {
	position: relative;
	width: 100vw;
	height: fit-content;
	min-height: 100vh;
	background-color: var(--secondaryColor);
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 0;
	overflow: hidden;
}

.headerComponentSection1 {
	gap: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
}

.headerComponentSection1_1 {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.headerComponentSection1_1 img {
	width: 7vw;
	max-width: 90px;
	min-width: 70px;
}

.headerComponentSection1_1 p {
	color: #fff;
	max-width: 500px;
	min-width: 300px;
	text-align: left;
}

@media screen and (max-width: 815px) {
	.headerComponentSection1 {
		flex-direction: column;
		gap: 30px;
		margin-top: 100px;
	}

	.headerComponentSection1_1 {
		width: 350px;
	}
}
