.starFormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 20px 20px 20px 20px;
	max-width: 1020px;
}

.starFormContainer form {
	box-shadow:
		6.1px 6.8px 6.9px rgba(0, 0, 0, 0.006),
		14.3px 16.1px 15.4px rgba(0, 0, 0, 0.009),
		27px 30.3px 27.8px rgba(0, 0, 0, 0.012),
		49.9px 55.9px 50.4px rgba(0, 0, 0, 0.017),
		115px 129px 119px rgba(0, 0, 0, 0.03);
}

.starFormContainer h3 {
	color: var(--secondaryColor);
	max-width: 250px;
}

.starForm {
	background-color: rgba(255, 255, 255, 0.15);
	padding: 15px;
	border-radius: 10px;
}

.star-rating {
	white-space: nowrap;
}
.star-rating [type='radio'] {
	appearance: none;
}
.star-rating .star {
	width: 30px;
	height: 30px;
	transition: 0.3s;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.1);
}

.star-rating label:is(:hover, :has(~ :hover)) .star {
	transform: scale(1.35);
	color: #ffaa00;
	animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) .star {
	color: #ffbb00;
}

@keyframes jump {
	0%,
	50% {
		transform: translatey(0) scale(1.35);
	}
	100% {
		transform: translatey(0) scale(1.4);
	}
}

.input-group {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.input-star {
	min-height: 50px;
	max-width: 150px;
	padding: 0 1rem;
	color: #4a4a4a;
	font-size: 15px;
	border-radius: 6px 0 0 6px;
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
}

.button--submit {
	min-height: 50px;
	padding: 0.5em 1em;
	border: none;
	border-radius: 0 6px 6px 0;
	background-color: rgba(0, 0, 0, 0.1);
	color: var(--secondaryColor);
	font-size: 15px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.button--submit:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.input-star:focus,
.input-star:focus-visible {
	background-color: rgba(255, 255, 255);
	outline: none;
}
