.accordionHomeContainer {
	width: 100vw;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordionHome_mw {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.accordionHome_0 p {
	margin-top: 20px;
	text-align: left;
}

.accordionHome_1 {
	background-color: #eee;
	border-radius: 10px;
	overflow: hidden;
}

@media screen and (max-width: 815px) {
	.accordionHome_mw {
		flex-direction: column;
	}
}
