.footerContainer{
    margin-top: 20px;
    width: 90vw;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerlogo{
    width: 100px;
    margin: 40px 40px
}

.footerElements{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    gap: 50px;
}

@media screen and (max-width: 600px) {

    .footerElements{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .footerimg{
        width: 200%;
        filter: none;
    }
}
