.inputFormulary{
    width: 300px;
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: rgb(195 0 255);
    transition: all .3s;
}
.inputFormulary:hover{
    background-color: rgb(232, 157, 255);
}
.inputFormulary:focus{
    box-shadow: 0 0 20px 3px rgb(195 0 255 / 70%);
    background-color: rgb(232, 157, 255);
    transform: scale(120%);
    outline: none;
}

.inputFormulary::placeholder{
    color: rgb(145, 0, 189);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 10px;
}

.inputButton{
    width: 100px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(195 0 255);
    border: none;
    transition: all .3s;
    margin-left: 7px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.inputButton:hover{
    transform: scale(110%);
}
