.homeheaderContainer{
    width: 100vw;
    height: 100vh;
    background: rgb(255,255,255);
    overflow: hidden;
    position: relative;
}
.waveHeader{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.homeheaderElements{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homeheaderElements h1{
    font-weight: 900;
    font-style: italic;
    color: rgb(68,68,68);
    font-size: calc(25px + 1.5vw);
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.headerRocket{
    display: inline-block;
    -webkit-animation: rocket 1s ease-in-out infinite;
    -moz-animation: rocket 1s ease-in-out infinite;
    animation: rocket 1s ease-in-out infinite;
    
}


@keyframes rocket {
    0%{
        transform: rotate(0deg) scale(90%);
    }
    10%{
        transform: rotate(-10deg);
    }
    20%{
        transform: rotate(10deg);
    }
    30%{
        transform: rotate(0deg);
    }
    
}

.homeheaderElements p{
    color: rgb(68,68,68);
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.homeheaderElement{
    max-width: 600px;
    position: relative;
}

.headerimg{
    width: 35vw;
    max-width: 700px;
    min-width: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.homeheaderElement button{
    outline: none;
    margin: 20px;
}

.custom-btn a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(255,255,255);
    font-style: italic;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.custom-btn:hover a{
    color: var(--secondaryColor); 
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 0px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    animation: btn-5 2s ease-in-out infinite;

}

@keyframes btn-5 {
    0%{
        transform: scale(90%);
    }
    50%{
        transform: scale(110%);
    }
    100%{
        transform: scale(90%);
    }
}

.btn-5 {
    z-index: 2;
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: var(--mainColor);
  background: linear-gradient(20deg, var(--secondaryColor) 0%, var(--mainColor) 100%);
  }
  .btn-5:hover {
    color: var(--secondaryColor);
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: var(--secondaryColor);
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

@media screen and (max-width: 600px) {
    .homeheaderElements h1{
        font-size: calc(40px + 1.5vw);
    }
    .homeheaderElements{
        flex-direction: column-reverse;
    }
    .headerimg{
        width: 50vh;
        min-width: none;
        
    }
    .textelement{
        width: 90%;
    }
}