:root {
    --slow: 0s;
}

.homedataContainer{
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homedata{
    position: relative;
    display: flex;
    align-items: center;
    gap: 3vw;
}

.homedataElement{
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
}

.homedataElement p{
  margin-top: 10px;
}

.services{
  gap:3vw;
  max-width: 700px;
}

@media screen and (max-width: 600px) {
  .homedata{
    flex-direction: column;
    gap: 5vw;
  }
  
  .homedataElement{
    max-width: 350px; 
  }

  .services{
    gap:10vw;
  }
}