:root {
    --color-brand-light: hsl(233, 72%, 79%);
    --color-brand-dark: hsl(233, 63%, 64%);
  
    --color-brand-gradient: linear-gradient(
      to right,
      hsl(233, 72%, 79%),
      hsl(233, 63%, 64%)
    );
  
    --color-brand-gradient-top: linear-gradient(
      to bottom,
      hsl(233, 72%, 79%),
      hsl(233, 63%, 64%)
    );
  
    --color-base: hsl(233, 78%, 98%);
    --color-base-25: hsl(233, 14%, 74%);
    --color-base-50: hsl(233, 14%, 49%);
    --color-negative: hsl(233, 14%, 33%);
  }

  .homepriceContainer{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan-options h1 {
    /* Title */
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-negative);
  }
  
  .price h2 {
    /* Prices */
    font-size: 72px;
    letter-spacing: -3px;
  }
  
  .plan-options h3 {
    /* Small titles */
    font-size: 18px;
  }

.plan-options {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    max-width: 1020px;
    margin: 50px 0 50px 0;
  }
  
  .plan-card {
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    background-color: var(--color-base);
    box-shadow: 0 0.8px 1.3px rgba(0, 0, 0, 0.028),
      0 2.7px 4.5px rgba(0, 0, 0, 0.042), 0 12px 20px rgba(0, 0, 0, 0.07);
  }
  
  .plan-features {
    list-style: none;
    color: var(--color-base-50);
  }
  
  .plan-features li {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-base-25);
  }
  
  .plan-features li:first-of-type {
    border-top: 1px solid var(--color-base-25);
  }
  
  .price {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .price h2 {
    margin: 16px 0;
  }
  
  .price-dollar {
    /* $ left of price */
    font-size: 40px;
    margin-right: 8px;
  }
  
  .card-highlight {
    background: var(--color-brand-gradient-top);
    color: var(--color-base);
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  .card-highlight li {
    color: var(--color-base);
  }
  
  .card-highlight button.action-button {
    background: var(--color-base);
    color: var(--color-brand-dark);
  }
  
  .card-highlight button.action-button:hover {
    padding: 14px;
    border: 2px solid var(--color-brand-light);
    box-shadow: 0 4px 3px -3px var(--color-negative);
  }
  
  .card-highlight button.action-button:active {
    padding: 14px;
    border: 2px solid var(--color-brand-light);
    box-shadow: 0 -4px -3px 3px var(--color-negative);
  }


  .plan-options button {
    /* Not sure why I had to re-set the font-family here */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    padding: 16px;
    margin-top: 24px;
    background: var(--color-brand-gradient);
    color: var(--color-base);
    border-radius: 4px;
    border: none;
    transition: ease-in-out;
  }
  
  .plan-options button:active,
  .plan-options button:focus {
    border: none;
    outline: none;
  }
  
  .plan-options button:hover {
    box-shadow: 0 4px 3px -3px var(--color-base-50);
    padding: 14px;
    border: 2px solid var(--color-brand-dark);
  }
  
  .plan-options button:active {
    box-shadow: 0 -4px -3px 3px var(--color-base-50);
    padding: 14px;
    border: 2px solid var(--color-brand-dark);
  }


  @media (max-width: 815px) {
    .plan-options {
      flex-direction: column;
    }
    .plan-card {
      max-width: 80%;
      margin-bottom: 40px;
    }
  }