.homefaqContainer{
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 163, 224, 15%);
}

.homefaq_mw{
    margin: 50px 0 50px 0;
    max-width: 1020px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.homefaqtext{
    width: 60%;
}

.homefaqtext{
    display: flex;
    flex-direction: column;
}

.homefaqLogo{
    min-width: 200px;
}

.homefaqContainer p{
    text-align:center;
}

.homefaqLogo{
    stroke: var(--mainColor);
    stroke-width: 5;
    animation: textAnimatelogo 10s infinite alternate;
}

@keyframes textAnimatelogo {

    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:var(--mainColor)
  
    }

    10% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset:  20%;
        fill:var(--mainColor)
    }
    
    50% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%,0%)
    }
    
}

@media screen and (max-width: 815px) {
    .homefaq_mw{
        position: relative;
        width: 90%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .homefaqtext{
        width: 90%;
    }
}