.neumorphism-toggle {
	transition: transform 0.3s;
	transform: scale(0.7) translateZ(0);
	position: relative;
}
.neumorphism-toggle input {
	display: none;
}
.neumorphism-toggle input + label {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	transition: all 0.4s;
	padding: 15px;
	border-radius: 15px;
}

.neumorphism-toggle input + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	opacity: var(--gradient, 0);
	transition: opacity 0.4s;
}
.neumorphism-toggle input + label .switch {
	position: relative;
	display: inline-block;
	z-index: 1;
	vertical-align: top;
	height: 22px;
	width: 40px;
	border-radius: 11px;
	background: #eceffc;
}
.neumorphism-toggle input + label .switch:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	background: linear-gradient(90deg, #e54fff, #8000ff);
	opacity: var(--gradient, 0);
	transition: opacity 0.4s;
}
.neumorphism-toggle input + label .switch .dot {
	background: #d1d6ee;
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	left: -1px;
	top: -1px;
	transform: translateX(var(--offset, 0));
	transition:
		transform 0.4s,
		box-shadow 0.4s;
	box-shadow:
		-4px -4px 8px var(--light-shadow-2, transparent),
		4px 4px 8px var(--shadow, transparent);
}
.neumorphism-toggle input + label .switch .dot:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	background: linear-gradient(160deg, #f1f4ff, #f9faff);
	opacity: var(--gradient, 0);
	transition: opacity 0.4s;
}
.neumorphism-toggle input + label span {
	line-height: 22px;
	font-size: 16px;
	color: var(--text, #646b8c);
	font-weight: 500;
	display: inline-block;
	vertical-align: top;
	z-index: 1;
	position: relative;
	transition: color 0.4s;
}
.neumorphism-toggle input + label + span {
	text-align: center;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	opacity: 0;
	font-size: 12px;
	font-weight: 500;
	color: #a6accd;
	transform: translateY(4px);
	transition:
		opacity 0.4s,
		transform 0.4s;
}
.neumorphism-toggle input:checked + label {
	--offset: 18px;
	--text: #000000;
	--gradient: 1;
	--shadow: rgba(0, 6, 39, 0.1);
	--light-shadow: rgba(255, 255, 255, 0.8);
	--light-shadow-2: rgba(255, 255, 255, 0.1);
}

.btn-shine {
	position: relative;
	padding: 10px 45px 10px 45px;
	color: #fff;
	background: linear-gradient(to right, #4d4d4d 0, #d4d4d4 10%, #4d4d4d 20%);
	background-position: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 3s infinite linear;
	animation-fill-mode: forwards;
	-webkit-text-size-adjust: none;
	font-weight: 600;
	font-size: 20px;
	text-decoration: none;
	white-space: nowrap;
  }
  @-moz-keyframes shine {
	0% {
	  background-position: 0;
	}
	40% {
	  background-position: 300px;
	}
	100% {
	  background-position: 300px;
	}
  }
  @-webkit-keyframes shine {
	0% {
	  background-position: 0;
	}
	40% {
	  background-position: 300px;
	}
	100% {
	  background-position: 300px;
	}
  }
  @-o-keyframes shine {
	0% {
	  background-position: 0;
	}
	40% {
	  background-position: 300px;
	}
	100% {
	  background-position: 300px;
	}
  }
  @keyframes shine {
	0% {
	  background-position: 0;
	}
	40% {
	  background-position: 300px;
	}
	100% {
	  background-position: 300px;
	}
  }
