.proyectHeaderSection1 {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--secondaryColor);
}

.proyectHeaderSection1_1 {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.proyectHeaderSection_1_1_Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: visible;
	gap: 10px;
	max-width: 450px;
	margin: 50px 20px;
}

.proyectHeaderSection1_1_1 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.proyectHeaderSection1_1_1 div {
	width: 2px;
	height: 50px;
	background-color: #fff;
}

.proyectHeaderSection1_1_1 img {
	width: 100px;
}

.proyectHeaderSection1_1_1 h2 {
	color: #fff;
}

.proyectHeaderSection1_1::before {
	content: '';
	display: block;
	width: 700px;
	height: 700px;
	background: rgb(0, 236, 255);
	background: radial-gradient(
		circle,
		rgba(0, 163, 224, 0.25) 10%,
		rgba(0, 185, 255, 0) 65%,
		rgba(0, 212, 255, 0) 100%
	);
	border-radius: 50%;
	position: absolute;
	-webkit-animation: glowEffect 4s ease-in-out;
	-moz-animation: glowEffect 4s ease-in-out;
	animation: glowEffect 4s ease-in-out;
}

@-moz-keyframes glowEffect {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes glowEffect {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes glowEffect {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.proyectHeaderSection1_1 p {
	color: #fff;
	text-align: left;
}

.proyectHeaderImg {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 815px) {
	.proyectHeaderImg {
		display: none;
	}
}
