.ToDoRowContainer{
    
}
.ToDoRow{
    min-width: 300px;
    max-width: 400px;
    height: 20px;
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    word-wrap: break-word;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction:row-reverse;
    flex: 2 1;
    align-items: center;
    justify-content: space-between;
    transition: background-color .3s;
}
.ToDoRowRed{
    background-color: rgb(255, 171, 171);
}
.ToDoRowYell{
    background-color: rgb(255, 255, 171);
}
.ToDoRow:hover{
    background-color: rgb(182, 182, 182);
} 
.ToDoRowRed:hover{
    background-color: rgb(235, 127, 127);
}
.ToDoRowYell:hover{
    background-color: rgb(251, 251, 119);
}
.ToDoRowCompleted{
    text-decoration: line-through;
}
.ToDoRowCompleted:hover{
    background-color: rgb(182, 182, 182);
} 

.ToDoRowInput{
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    border-radius: 100px;
    place-content: center;
    position: relative;
    margin-left: 0px;
    border: 1px solid rgb(195 0 255);
}

.ToDoRowInput::before{
    content: '';
    position: absolute;
    border-radius: 100px;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    transform: scale(0);
    transition: all .3s;
    box-shadow: inset 1em 1em rgb(195 0 255);
}

.ToDoRowInput:checked::before{
    transform: scale(1);
}

.ToDoControlPanel{
    position: relative;
    justify-content: center;
    align-items: center;
}

.ToDoRowButton{
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: none;
    border: none;
}

.ToDoRowTrashCan{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .3;
}

.ToDoRowTrashCan:hover{
    color: rgb(195 0 255);
    transform: scale(110%);
}
.selectPriority{

    appearance: none;
    background-color: transparent;
    border: none;
    width: 30px;
    text-align: center;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
    transition: all .3s;
}
.selectPriority:hover{
    transform: scale(120%);
}
