.contenedor-testimonio{
    width: 300px;
    height: 100px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 5px 1px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
    transition: all .15s;
}

.contenedor-testimonio:hover{
    cursor: pointer;
    background-color: rgb(255, 140, 0);
    transform: scale(110%);
    box-shadow: 0 3px 10px 1px rgb(0 0 0 / 20%);
}

.imagen-testimonio {
    height: 100%;
    width: auto;
}

.contenedor-texto-testimonio {
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-testimonio {
    font-size: 1rem;
}

.cargo-testimonio {
    font-size: 1rem;
    margin-top: 5px;
    padding-bottom: 30px;
}

.texto-testimonio{
    font-size: .8rem;
    text-align: justify;
}