.titleContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
}
.titlElement{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	text-align: left;
}

.titlElement h2{
	margin-left: 5px;
	font-weight: 800;
	font-size: 35px;
	color: var(--secondaryColor);
}

.titleUnderline{
	width: 150px;
	fill: var(--mainColor);
}
