.Trashcontainer{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    margin-left: 15px;
    min-width: 300px;
    max-width: 300px;
}