.Logowaveanimation{
    animation: waveanimation 30s ease-in-out infinite;
    transform-origin: 33% 90%;
}

@keyframes waveanimation {
    0%{
        transform: rotate(0deg);
    }
    1%{
        transform: rotate(20deg);
    }
    3%{
        transform: rotate(-380deg);
    }
    5%{
        transform: rotate(-360deg); 
    }
    100%{
        transform: rotate(-360deg); 
    }
}