.itemsFilterContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-top: 20px;
	z-index: 1;
}
.radioInputsContainer {
	width: fit-content;
	height: fit-content;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(50px), saturate(200%);
	border-radius: 0.5rem;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.radio-inputs {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-wrap: nowrap;
	box-sizing: border-box;
	width: 100%;
	font-size: 12px;
}
.itemsFilterIcon {
	width: 25px;
	height: 20px;
	stroke-width: 2;
}
.radio-inputs .radio {
	flex: 1 1 auto;
	text-align: center;
	color: rgba(51, 65, 85, 1);
}

.radio-inputs .radio input {
	display: none;
}

.radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: 0.5rem 0;
	transition: all 0.15s ease-in-out;
	font-weight: 600;
	padding-left: 5px;
	padding-right: 5px;
	gap: 5px;
}

.radio-inputs .radio input:not(:checked) + .name {
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
}

.radio-inputs .radio input:checked + .name {
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.05);
}

.subFiltersContainer {
	width: fit-content;
	height: fit-content;
	margin-bottom: 20px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
	row-gap: 20px;
	font-size: 15px;
}

.subFilters input {
	display: none;
}

.subFiltersContainer .subFilters .subFiltersName {
	cursor: pointer;
	border-radius: 0.5rem;
	border: none;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(255, 255, 255, 0.2);
}

.subFiltersContainer .subFilters input:checked + .subFiltersName {
	background-color: rgba(255, 255, 255, 1);
}

.itemSearch {
	--timing: 0.3s;
	--width-of-input: 200px;
	--height-of-input: 40px;
	--border-height: 2px;
	--input-bg: #eeeeee;
	--border-color: #2f2ee9;
	--border-radius: 30px;
	--after-border-radius: 1px;
	position: relative;
	width: var(--width-of-input);
	height: var(--height-of-input);
	display: flex;
	align-items: center;
	padding-inline: 0.8em;
	border-radius: var(--border-radius);
	transition:
		background-color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 5px 5px 20px 1px rgb(0, 0, 0, 0.03);
}

.itemInput {
	font-size: 0.9rem;
	background-color: transparent;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	border: none;
}

.itemInput::placeholder {
	color: rgb(0, 0, 0, 0.2);
}

.itemReset {
	border: none;
	background: none;
	opacity: 0;
	visibility: hidden;
}

.itemInput:not(:placeholder-shown) ~ .itemReset {
	opacity: 1;
	visibility: visible;
}

.itemSearch svg {
	width: 25px;
	margin-top: 3px;
	color: rgb(0, 0, 0, 0.2);
	border: none;
	background: none;
}

.itemInput:focus {
	outline: none;
}

.itemSearch:focus-within {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 5px 5px 20px 1px rgb(0, 0, 0, 0.1);
}

@media screen and (max-width: 815px) {
	.itemsFilterContainer {
		margin-top: 20px;
		gap: 10px;
	}

	.radio-inputs {
		width: fit-content;
		font-size: 11px;
		flex-wrap: wrap;
	}
}
