.paginationContainer {
	--bg-page: #1a1a1a;
	--text-color: #f3f3f3;
	--card-bg: #202020;
	--icon-bg: #45423c;
	--blue: #0870f8;
	--blue-rgb: 8, 112, 248;
	--orange: #ff9232;
	--g-purple: linear-gradient(30deg, #85f, #9966ff);
	--g-yellow: linear-gradient(30deg, #fc0, #fc0);
	--g-red: linear-gradient(30deg, #f36, #f24);
	--g-blue: linear-gradient(30deg, #0cf, #0af);
	--g-purple: linear-gradient(30deg, #85f, #9966ff);
	--range: 0%;
	--shadow: rgba(0, 6, 39, 0.1);
	--light-shadow: rgba(255, 255, 255, 0.8);
	--light-shadow-2: rgba(255, 255, 255, 0.1);
	font-size: 13px;
	margin-top: 50px;
	color: var(--secondaryColor);
	z-index: 10;
}

.hide {
	display: none;
	visibility: hidden;
	height: 0;
}

.pagination\:container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.arrow\:text {
	display: block;
	font-size: 10px;
}

.pagination\:number {
	--size: 32px;
	--margin: 5px;
	margin: 0 var(--margin);
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.05);
	max-width: auto;
	min-width: var(--size);
	height: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0 6px;
}
@media (hover: hover) {
	.pagination\:number:hover {
		background: rgba(0, 0, 0, 0.13);
	}
}
.pagination\:number:active {
	background: #d6d6d6;
}

.pagination\:active {
	background: rgba(0, 0, 0, 0.1);
	position: relative;
	box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.05);
}

.isPaginationDisable {
	pointer-events: none;
	opacity: 0.3;
}
