.itemAnchor {
	width: fit-content;
	height: fit-content;
}
.itemCard {
	position: relative;
	width: 250px;
	height: 350px;
	margin-top: 10px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: transform 0.1s ease-in-out;
	background-color: #fff;
	box-shadow:
		6.1px 6.8px 6.9px rgba(0, 0, 0, 0.006),
		14.3px 16.1px 15.4px rgba(0, 0, 0, 0.009),
		27px 30.3px 27.8px rgba(0, 0, 0, 0.012),
		49.9px 55.9px 50.4px rgba(0, 0, 0, 0.017),
		115px 129px 119px rgba(0, 0, 0, 0.03);
}
.itemCard::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgb(192, 192, 192);
	opacity: 0;
	position: absolute;
	transition: opacity 0.1s;
}
.itemCard:hover.itemCard::after {
	opacity: 0.2;
}

.itemContainer {
	width: 100%;
	height: 45%;
}

.itemText {
	background-color: rgba(255, 255, 255, 0.3);
	height: 55%;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	color: var(--secondaryColor);
	padding: 25px;
	text-align: left;
}

.itemTitle {
	font-size: 16px;
	font-weight: 800;
}

.itemDescription {
	font-size: 14px;
	font-weight: 500;
}

.itemInfo {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.itemInfo section {
	display: flex;
	flex-direction: row;
	gap: 3px;
}

.itemPaid {
	background-color: rgb(255, 194, 194);
	color: rgb(255, 77, 77);
	width: fit-content;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 12px;
	opacity: 0.7;
}

.itemFree {
	background-color: rgb(13, 255, 0, 0.15);
	color: rgb(8, 151, 0, 0.5);
	width: fit-content;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 12px;
	opacity: 0.7;
}

.itemFreemium {
	background-color: rgba(255, 217, 0, 0.15);
	color: rgb(151, 138, 0, 0.5);
	width: fit-content;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 12px;
	opacity: 0.7;
}

.itemTag {
	background-color: rgb(210, 210, 210, 0.5);
	color: rgb(36, 36, 36, 0.5);
	width: fit-content;
	padding: 3px 6px 3px 6px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 10px;
	opacity: 0.4;
}

@media screen and (max-width: 815px) {
	.itemCard {
		width: 300px;
		height: 350px;
	}
}
