* {
	margin: 0;
	padding: 0;
}

svg {
	display: initial;
	vertical-align: initial;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-size: 18px;
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

h1 {
	max-width: 940px;
	font-size: 2.5em;
	font-family: Lato, sans-serif;
	font-weight: 700;
	line-height: 1.1;
}

a {
	text-decoration: none;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(255, 255, 255);
	position: relative;
}

.onlytestimonios {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.contenedor-principal {
	min-height: 600px;
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.clip-img {
	object-fit: cover;
	object-position: 50%;
	-webkit-clip-path: url(#squircle);
	clip-path: url(#squircle);
	/*
	<svg width='0' height='0'>
		<defs>
			<clipPath id='squircle' clipPathUnits='objectBoundingBox'>
				<path d='M .5,0 C .1,0 0,.1 0,.5 0,.9 .1,1 .5,1 .9,1 1,.9 1,.5 1,.1 .9,0 .5,0 Z'></path>
			</clipPath>
		</defs>
	</svg>
	*/
}
