body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--mainColor: rgb(225, 0, 152);
	--secondaryColor: rgb(0, 42, 90);
	--terciaryColor: rgb(68, 0, 153);
	--cuaternaryColor: rgb(0, 163, 224);
	--cornersRadius: 10px;
}

.ContainerGeneral {
	margin: 50px 20px 50px 20px;
	max-width: 1020px;
	width: 100%;
}

*::selection {
	background: rgb(190, 190, 190);
	color: rgb(0, 0, 0);
}

html::-webkit-scrollbar {
	width: 15px;
}

html::-webkit-scrollbar-track {
	background: var(--secondaryColor);
}

html::-webkit-scrollbar-thumb {
	background-color: rgb(225, 0, 152);
	border-radius: 6px;
	border: 2px solid rgb(255, 255, 255);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.Container {
	width: 95vw;
}
